#main-header img {
    width: 100%;
    height: 100%;
}

#main-header .port-item {
    width: 30%;
}

#main-header .port-item:hover { 
    opacity: 0.8;
    cursor: pointer;
}

bg-black {
    background: black;
    color: #fff;
}

#home-card-body {
    background: linear-gradient(to bottom right,white,#26a3b6e7);
}
#resume-card-body {
    background: linear-gradient(to bottom right,white,#28a745);
}
#work-card-body {
    background: linear-gradient(to bottom right,white,#f5be18e1);
}


/* --- JQuery ---- */

@media (min-width: 1199px) {
    .port-item {
        padding: 3em !important;
    }
}